{{!-- Link to CSS within public folder for tablePage --}}
<link rel="stylesheet" href="/styles/tablePage.css">

<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">Thread Type</th>
      <th scope="col">Title</th>
      <th scope="col">Link</th>
    </tr>
  </thead>
  <tbody>
    {{#each post}}
    <tr>
      <td>{{this.thread}}</td>
      <td>{{this.title}}</td>
      <td><a href="{{this.link}}">Follow Link</a></td>
    </tr>
    {{/each}}
  </tbody>
</table>

<br>
<br>

<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">Thread Type</th>
      <th scope="col">Title</th>
      <th scope="col">Link</th>
    </tr>
  </thead>
  <tbody>
    {{#each showPost}}
    <tr>
      <td>{{this.thread}}</td>
      <td>{{this.title}}</td>
      <td><a href="{{this.link}}">Follow Link</a></td>
    </tr>
    {{/each}}
  </tbody>
</table>